@import "fonts";
@import "mq";
@import "grid-system";

html,
body {
    -webkit-font-smoothing: antialiased;
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.interactive-embed {
     div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1em;
}
select:focus {outline:0 !important;}
}

#widget-container {
    background: #fff;
    border-top: 1px solid #4bc6df;
    padding: 12px 0 12px 0;
    
  .filter {
      clear: both;
        float: right;
      position: relative;
      margin: 20px 0 0 0;
        line-height: 20px;
width: auto;
height: 12px;
padding: 0 22px 0 0;
vertical-align: top;
box-sizing: border-box;
font-family: Guardian Text Sans Web, Arial,sans-serif;
font-size: 14px;
font-weight: 700;
cursor: pointer;

&:hover .label {
    text-decoration: underline;
    cursor: pointer;
}


.filter-inner {
    // border-bottom: #ccc solid 1px;
    width: 100%;
height: 100%;
position: relative;
}

.label {
 
box-sizing: border-box;
margin: 0;
color: #adadad;
padding: 0 0 0 .2em;

display: block;


}

.arrow {
    position: absolute;
right: -16px;
top: 3px;
width: 10px;
height: 10px;
background-image: url("/assets/imgs/down-arrow.svg");
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
box-sizing: border-box;
}

    }
    
    #country-select {
        
        z-index: 1;
        opacity: 0;
        color: #333;
        border: 0;
        outline: 0;
        position: absolute;
top: 0;
right: -16px;
width: calc(100%+16px);
height: 100%;
cursor: pointer;   
    }
    
    
    
    .widget-header {
       padding-bottom: 12px;
    }
    
     .widget-header:after {
        clear:both;
        content:"";
        display:block;
        width: 100%;
    }
    
    .widget-footer {
        padding: 12px 0 12px 0;
         border-top: 1px solid #eaeaea;
         border-bottom: 1px solid #eaeaea;
         
         &.no-button {
             border-top: none;
         }
         
         .toggle-button {
             font-family: Guardian Text Sans Web, Arial,sans-serif;
             display: inline-block;
                font-weight: 500;      
                font-size: 13px;
                color: #767676;
                // background: #4bc6df;
                padding: 2px 12px 2px 5px;
                border-radius: 15px;
                cursor: pointer;
                
                
background-color: #f1f1f1;
border-color: #f1f1f1;

&:hover {
    background-color: #767676;
border-color: #767676;
 color: #f1f1f1;
 .inline-icon {
    fill: #f1f1f1;
    
}
}
                
                .inline-icon {
    fill: #767676;
    width: 10px;
}
.button-text {
    vertical-align: 50%;
}
         }
    }
    
    .country-block {
        position: relative;
        border-top: 1px solid #eaeaea;
        padding: 0;
        margin-bottom: 40px;
        overflow: hidden;
     }
     
     .country-graphics {
        width: 100%;
       
        
        // background: #eaeaea;
         @include mq(mobileLandscape){
          border-left: 1px solid #eaeaea;
          width: 42%;
          position: absolute;
        height: 100%;
        top: 12px;
        right: 0;
       }
       
        @include mq(phablet){
          border-left: 1px solid #eaeaea;
          width: 35%;
          position: absolute;
        height: 100%;
        top: 12px;
        right: 0;
       }
       
    }
    
     .country-graphics:after {
      clear: both;
      content: "";
      display: block;
    }
     
    .country-locator-map {
        background: #717e85;
        display: none;
         @include mq(phablet){
           display: block;
            width: 110px;
            height: 110px;
            position: absolute;
      }
      
       svg {
           fill: #e5e9ec;
           stroke: #e5e9ec;
           stroke-width: 3px;
           
           .country.highlighted {
               fill: #4bc6df;
               stroke: #4bc6df;
           }
       } 
    }
    
    .country-graph {
        position: relative;
         width: calc(100%-6px);
          margin-right:6px;
         @include mq(mobileLandscape){
        width: calc(100%-18px);
        margin-left:12px;
        margin-right:6px;
        margin-top:0;
        }
    }
    
     .graph-inner {
        position: relative;
        width: 100%;
        padding-bottom: 20%;
        background: #fff;
        // border-bottom: 1px solid #4bc6df;
        vertical-align: top;
        
        &.wide-view {
            padding-bottom: 40%;
            display: none;
        }
        @include mq(mobileLandscape){
        //  padding-bottom: 50%;
         display: none;
          &.wide-view {
           
            display: block;
        }
       }
       
      
        
    }
    
    
    
    .country-graph svg {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .country-graph svg .area {
        fill: #4bc6df;
        // stroke: #4bc6df;
        fill-opacity: 0.2;
        // stroke-width: 1px;
    }
    
     .country-graph svg .line {
        stroke: #4bc6df;
        fill: none;
        stroke-width: 1.5px;
        vector-effect: non-scaling-stroke;
    }
    
    .country-graph .circle-marker {
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #4bc6df;
        margin-left: -5px;
        margin-bottom: -5px;
        &.circle-other {
            background: #bcbcbc;
        }
    }
    
    .country-graph .line-marker {
        position: absolute;
        left: 100%;
        top: -10px;
        border-left: 1px dotted #4bc6df;
        margin-left: -1px;
        padding-bottom: 10px;
    }
    
    .country-graph .graph-readout {
        position: absolute;
        text-align: right;
        font-family: "Guardian Egyptian Web", Georgia, Serif;
        font-size: 30px;
        top: 2px;
        right: 0;
        // padding-top: 4px;
        margin-right: -2px;
        color: #4bc6df;
         &.readout-other {
            color: #bcbcbc;
        }
       
    }
    
    .country-graph .graph-title {
        position: relative;
        text-align: left;
        font-family: "Guardian Egyptian Web", Georgia, Serif;
    font-family: Guardian Sans Web,Arial,sans-serif;
                font-weight: 500;      
                font-size: 13.5px;
                line-height:1.1;
                color: #333;
                padding: 4px 0 12px 0;
                font-weight: 500;
                
                strong {
                    color: #333;
                }
    }
    
    ul {
    list-style: none;
    padding:0;
    margin:0;
}

li { 
    padding-left: 1em; 
    
}

li:before {
    content: "• ";
    font-size: 40px;
    color: #4bc6df;
    vertical-align: bottom;
}
    
    .country-bullets-list {
       display: block;
       padding-top: 12px;
    }
   
    .country-bullet {
       padding: 8px 0 8px 0;
       margin-left: 0;
        font-size: 16px;
        line-height: 1.2em;
       display: block;
        font-family: Guardian Text Sans Web,Arial,sans-serif;
        font-weight: 500;
        // list-style-type: disc;
        color: #767676;
        width: 90%;
         @include mq(mobileLandscape){
          
           width: 50%;
      } 
       @include mq(phablet){
           margin-left: 132px;
           width: 40%;
      } 
    }
    
   
 

h1, h2 {
    font-family: "Guardian Egyptian Web", Georgia, Serif;
}

h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2em;
    padding-bottom: 12px;
    float: left;
    span {
        // color:#4bc6df;
        font-weight: 200;
    }
}

h2 {
    font-weight: 600;
    font-size: 24px;
    padding: 8px 0 8px 0;
    color: #333;
    display: block;
     @include mq(phablet){
           padding-left: 132px;
      } 
    
}

h3 {
    font-family: Guardian Text Sans Web, Arial,sans-serif;
    font-weight: 500;
    float: right;
    font-size: 14px; 
}

}