@import "fonts";
@import "mq";
@import "grid-system";

html,
body {
    -webkit-font-smoothing: antialiased;
    @include fs-bodyCopy(2);
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.interactive-embed {
     div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1em;
}
}

#widget-container {
    background: #fff;
    border-top: 1px solid #4bc6df;
    padding: 12px 0 12px 0;
    
    #country-select {
        clear: both;
        float: right;   
    }
    
    .widget-header {
       padding-bottom: 12px;
    }
    
     .widget-header:after {
        clear:both;
        content:"";
        display:block;
        width: 100%;
    }
    
    .widget-footer {
        padding: 12px 0 12px 0;
         border-top: 1px solid #eaeaea;
         border-bottom: 1px solid #eaeaea;
         
         .toggle-button {
             font-family: Guardian Text Sans Web, Arial,sans-serif;
             display: inline-block;
                font-weight: 500;      
                font-size: 13px;
                color: #fff;
                // background: #4bc6df;
                padding: 2px 12px 2px 5px;
                border-radius: 15px;
                cursor: pointer;
                
                
background-color: #005689;
border-color: #005689;
                
                .inline-icon {
    fill: #ffffff;
    width: 10px;
}
.button-text {
    vertical-align: 50%;
}
         }
    }
    
    .country-block {
        position: relative;
        border-top: 1px solid #eaeaea;
        padding: 0;
        margin-bottom: 40px;
        overflow: hidden;
     }
     
     .country-graphics {
        width: 100%;
       
        
        // background: #eaeaea;
         @include mq(mobileLandscape){
          border-left: 1px solid #eaeaea;
          width: 30%;
          position: absolute;
        height: 100%;
        top: 12px;
        right: 0;
       }
    }
    
     .country-graphics:after {
      clear: both;
      content: "";
      display: block;
    }
     
    .country-locator-map {
        background: #dcdcdc;
        display: none;
         @include mq(mobileLandscape){
           display: block;
            width: 100px;
            height: 100px;
            position: absolute;
      } 
    }
    
    .country-graph {
        position: relative;
         width: calc(100%-6px);
          margin-right:6px;
         @include mq(mobileLandscape){
        width: calc(100%-18px);
        margin-left:12px;
        margin-right:6px;
        margin-top:0;
        }
    }
    
     .graph-inner {
        position: relative;
        width: 100%;
        padding-bottom: 20%;
        background: #fff;
        border-bottom: 1px solid #4bc6df;
        vertical-align: top;
        @include mq(mobileLandscape){
         padding-bottom: 50%;   
        }
    }
    
    
    
    .country-graph svg {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .country-graph svg .area {
        fill: #4bc6df;
        // stroke: #4bc6df;
        fill-opacity: 0.2;
        // stroke-width: 1px;
    }
    
     .country-graph svg .line {
        stroke: #4bc6df;
        fill: none;
        stroke-width: 1.5px;
        vector-effect: non-scaling-stroke;
    }
    
    .country-graph .circle-marker {
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #4bc6df;
        margin-left: -5px;
        margin-bottom: -5px;
    }
    
    .country-graph .line-marker {
        position: absolute;
        left: 100%;
        bottom: -1px;
        height: 60px;
        border-left: 2px dotted #767676;
        margin-left: -1px;
    }
    
    .country-graph .graph-readout {
        position: relative;
        text-align: right;
        font-family: "Guardian Egyptian Web", Georgia, Serif;
        font-size: 20px;
        padding-top: 4px;
        margin-right: -2px;
        color: #4bc6df;
    }
    
    .country-graph .graph-title {
        position: relative;
        text-align: left;
        font-family: "Guardian Egyptian Web", Georgia, Serif;
    font-family: Guardian Sans Web,Arial,sans-serif;
                font-weight: 500;      
                font-size: 14px;
                color: #000;
                padding: 4px 0 12px 0;
                font-weight: 500;
                
                span {
                    
                }
    }
    
    ul {
    list-style: none;
    padding:0;
    margin:0;
}

li { 
    padding-left: 1em; 
    
}

li:before {
    content: "• ";
    font-size: 40px;
    color: #4bc6df;
    vertical-align: bottom;
}
    
    .country-bullets-list {
       display: block;
       padding-top: 12px;
    }
   
    .country-bullet {
       padding: 8px 0 8px 0;
       margin-left: 0;
        font-size: 16px;
        line-height: 1.2em;
       display: block;
        font-family: Guardian Text Sans Web,Arial,sans-serif;
        font-weight: 500;
        // list-style-type: disc;
        color: #767676;
        width: 90%;
         @include mq(mobileLandscape){
           margin-left: 112px;
           width: 45%;
      } 
    }
    
   
 

h1, h2 {
    font-family: "Guardian Egyptian Web", Georgia, Serif;
}

h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2em;
    padding-bottom: 12px;
    float: left;
    span {
        // color:#4bc6df;
        font-weight: 200;
    }
}

h2 {
    font-weight: 600;
    font-size: 24px;
    padding: 8px 0 8px 0;
    color: #333;
    display: block;
     @include mq(mobileLandscape){
           padding-left: 112px;
      } 
    
}

h3 {
    font-family: Guardian Text Sans Web, Arial,sans-serif;
    font-weight: 500;
    float: right;
    font-size: 14px; 
}

}